# App
PORT=3000
NODE_ENV=development

# AWS General
AWS_REGION=eu-north-1
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key

# DynamoDB
DYNAMODB_TABLE_NAME=patients
DYNAMODB_ENDPOINT=http://localhost:8000   # only for local dev with DynamoDB Local

# AWS Cognito
COGNITO_USER_POOL_ID=us-north-1_xxxxxxxx
COGNITO_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxx
COGNITO_REGION=eu-north-1

# OpenSearch
OPENSEARCH_ENDPOINT=https://your-domain.us-north-1.es.amazonaws.com
OPENSEARCH_INDEX=patients
OPENSEARCH_USERNAME=username
OPENSEARCH_PASSWORD=password
